<noscript id="NOSCRIPT_2">
	<strong>We're sorry but mattcs doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<link rel="stylesheet" type="text/css" href="/master/assets/css/style.css">
<div id="DIV_3">
	<section id="SECTION_4">
		<div class="container is-fluid" id="DIV_5">
			<div class="section" id="DIV_6">
				<div class="columns" id="DIV_7">
					<a href="https://www.betrefs.com" class="column banner-holder" id="A_8"></a>
					<div class="banner" id="DIV_9">
					</div>
					<div class="home column" id="DIV_10">
						<div class="tile is-ancestor" id="DIV_11">
							<div class="tile is-parent" id="DIV_12">
								<article class="tile is-child t-box" id="ARTICLE_13">
									<p class="title" id="P_14">
										Music
									</p>
									<p class="subtitle" id="P_15">
										Listen to my latest music
									</p>
									<div class="content" id="DIV_16">
										<div class="music-track" id="DIV_17">
											<div class="music-info-holder" id="DIV_18">
												<div class="music-track-cover" id="DIV_19">
													<img src="/img/cover1.44ced3d7.jpg" alt="" id="IMG_20" />
												</div>
												<div class="music-track-info" id="DIV_21">
													<div class="music-track-name" id="DIV_22">
														Potency
													</div>
													<div class="music-track-artist" id="DIV_23">
														Matt, trip*5k
													</div>
												</div>
											</div>
										</div><a href="https://open.spotify.com/artist/1AmX74NtMdzd8nwRqNAKDI?si=JVO2KmeGQ32CtNkYhhH8Ug" class="music-platform" id="A_24"></a>
										<div class="music-platform-info" id="DIV_25">
											<svg class="music-platform-icon svg-inline--fa fa-spotify fa-w-16" id="svg_26">
												<path id="path_27">
												</path>
											</svg><span class="music-platform-name" id="SPAN_28">Spotify</span>
										</div><a href="https://soundcloud.com/sadmatt" class="music-platform" id="A_29"></a>
										<div class="music-platform-info" id="DIV_30">
											<svg class="music-platform-icon svg-inline--fa fa-soundcloud fa-w-20" id="svg_31">
												<path id="path_32">
												</path>
											</svg><span class="music-platform-name" id="SPAN_33">Soundcloud</span>
										</div><a href="https://youtube.com/mattcs" class="music-platform" id="A_34"></a>
										<div class="music-platform-info" id="DIV_35">
											<svg class="music-platform-icon svg-inline--fa fa-youtube fa-w-18" id="svg_36">
												<path id="path_37">
												</path>
											</svg><span class="music-platform-name" id="SPAN_38">Youtube</span>
										</div>
									</div>
								</article>
							</div>
							<div class="tile is-parent is-vertical" id="DIV_39">
								<article class="tile is-child t-box" id="ARTICLE_40">
									<p class="title" id="P_41">
										Steam Group
									</p>
									<p class="subtitle" id="P_42">
										LVL10BHOP
									</p>
									<div class="content" id="DIV_43">
										<a href="https://steamcommunity.com/groups/LVL10BHOP" class="sg-button" id="A_44"></a>
										<svg class="sg-icon svg-inline--fa fa-steam fa-w-16" id="svg_45">
											<path id="path_46">
											</path>
										</svg><span class="sg-text" id="SPAN_47">Join group</span>
									</div>
								</article>
								<article class="tile is-child t-box" id="ARTICLE_48">
									<p class="title" id="P_49">
										Discord
									</p>
									<p class="subtitle" id="P_50">
										Matt's Dungeon
									</p>
									<div class="content" id="DIV_51">
										<a href="https://discord.gg/thBgccj" class="sg-button" id="A_52"></a>
										<svg class="sg-icon svg-inline--fa fa-discord fa-w-14" id="svg_53">
											<path id="path_54">
											</path>
										</svg><span class="sg-text" id="SPAN_55">Join channel</span>
									</div>
								</article>
							</div>
						</div>
						<div class="tile is-ancestor" id="DIV_56">
							<div class="tile is-vertical is-8" id="DIV_57">
								<div class="tile" id="DIV_58">
									<div class="tile is-parent is-vertical" id="DIV_59">
										<article class="tile is-child t-box" id="ARTICLE_60">
											<p class="title" id="P_61">
												Social Media
											</p>
											<p class="subtitle" id="P_62">
												Follow me for the latest updates
											</p>
											<div class="content" id="DIV_63">
												<a href="http://www.instagram.com/mattseesass" class="social-media-holder" id="A_64"></a>
												<svg class="social-media-brand svg-inline--fa fa-instagram fa-w-14" id="svg_65">
													<path id="path_66">
													</path>
												</svg><a href="http://www.twitter.com/mattseesass" class="social-media-holder" id="A_67"></a>
												<svg class="social-media-brand svg-inline--fa fa-twitter fa-w-16" id="svg_68">
													<path id="path_69">
													</path>
												</svg><a href="https://snapchat.com/add/mattseesass" class="social-media-holder" id="A_70"></a>
												<svg class="social-media-brand svg-inline--fa fa-snapchat fa-w-16" id="svg_71">
													<path id="path_72">
													</path>
												</svg>
											</div>
										</article>
									</div>
									<div class="tile is-parent" id="DIV_73">
										<article class="tile is-child t-box" id="ARTICLE_74">
											<p class="title" id="P_75">
												Config
											</p>
											<p class="subtitle" id="P_76">
												Crosshair and config setup
											</p>
											<div class="content" id="DIV_77">
												<div class="config-holder" id="DIV_78">
													<div class="config-button ch-btn" id="DIV_79">
														Copy crosshair
													</div> <a href="https://drive.google.com/open?id=120aIJchVsQLdztUguYkt1yJ_0ARWhZHD" class="config-button cf-btn" id="A_80">Download config</a>
												</div>
											</div>
										</article>
									</div>
								</div>
							</div>
							<div class="tile is-parent" id="DIV_81">
								<article class="tile is-child t-box" id="ARTICLE_82">
									<div class="content" id="DIV_83">
										<p class="title" id="P_84">
											Clothing
										</p>
										<p class="subtitle" id="P_85">
											Coming soon...
										</p>
										<div class="content" id="DIV_86">
										</div>
									</div>
								</article>
							</div>
						</div>
						<div class="tile is-ancestor" id="DIV_87">
							<div class="tile is-parent" id="DIV_88">
								<article class="tile is-child t-box" id="ARTICLE_89">
									<p class="title" id="P_90">
										FAQ
									</p>
									<p class="subtitle" id="P_91">
										Frequently Asked Questions
									</p>
									<div class="content" id="DIV_92">
										<div class="faq-holder" id="DIV_93">
											<div class="faq" id="DIV_94">
												<div class="question" id="DIV_95">
													<p id="P_96">
														<span id="SPAN_97">Q:</span>What is your name?
													</p>
												</div>
												<div class="answer" id="DIV_98">
													<p id="P_99">
														<span id="SPAN_100">A:</span>Matt.
													</p>
												</div>
											</div>
											<div class="faq" id="DIV_101">
												<div class="question" id="DIV_102">
													<p id="P_103">
														<span id="SPAN_104">Q:</span>How old are you?
													</p>
												</div>
												<div class="answer" id="DIV_105">
													<p id="P_106">
														<span id="SPAN_107">A:</span>21.
													</p>
												</div>
											</div>
											<div class="faq" id="DIV_108">
												<div class="question" id="DIV_109">
													<p id="P_110">
														<span id="SPAN_111">Q:</span>Where are you from?
													</p>
												</div>
												<div class="answer" id="DIV_112">
													<p id="P_113">
														<span id="SPAN_114">A:</span>The Netherlands.
													</p>
												</div>
											</div>
											<div class="faq" id="DIV_115">
												<div class="question" id="DIV_116">
													<p id="P_117">
														<span id="SPAN_118">Q:</span>What software do you use to edit your videos?
													</p>
												</div>
												<div class="answer" id="DIV_119">
													<p id="P_120">
														<span id="SPAN_121">A:</span>Sony VEGAS Pro 12.
													</p>
												</div>
											</div>
											<div class="faq" id="DIV_122">
												<div class="question" id="DIV_123">
													<p id="P_124">
														<span id="SPAN_125">Q:</span>What software do you use to record your videos?
													</p>
												</div>
												<div class="answer" id="DIV_126">
													<p id="P_127">
														<span id="SPAN_128">A:</span>NVIDIA ShadowPlay.
													</p>
												</div>
											</div>
											<div class="faq" id="DIV_129">
												<div class="question" id="DIV_130">
													<p id="P_131">
														<span id="SPAN_132">Q:</span>When did you start with YouTube?
													</p>
												</div>
												<div class="answer" id="DIV_133">
													<p id="P_134">
														<span id="SPAN_135">A:</span>When i was 12, but "mattcs" started 4 years ago.
													</p>
												</div>
											</div>
										</div>
									</div>
								</article>
							</div>
							<div class="tile is-parent is-8" id="DIV_136">
								<article class="tile is-child t-box" id="ARTICLE_137">
									<p class="title" id="P_138">
										Setup
									</p>
									<p class="subtitle" id="P_139">
										Gear and accessories
									</p>
									<div class="content" id="DIV_140">
										<div class="setup-holder" id="DIV_141">
											<div class="category" id="DIV_142">
												<div class="category-title" id="DIV_143">
													PC
												</div>
												<div class="category-item" id="DIV_144">
													<div class="category-name" id="DIV_145">
														Case
													</div>
													<div class="category-user" id="DIV_146">
														Corsair Carbide Clear 600C
													</div>
												</div>
												<div class="category-item" id="DIV_147">
													<div class="category-name" id="DIV_148">
														MOBO
													</div>
													<div class="category-user" id="DIV_149">
														MSI Z270 GAMING M6 AC
													</div>
												</div>
												<div class="category-item" id="DIV_150">
													<div class="category-name" id="DIV_151">
														GPU
													</div>
													<div class="category-user" id="DIV_152">
														EVGA GeForce GTX 1080 Ti SC2 GAMING
													</div>
												</div>
												<div class="category-item" id="DIV_153">
													<div class="category-name" id="DIV_154">
														CPU
													</div>
													<div class="category-user" id="DIV_155">
														Intel Core i7 7700K
													</div>
												</div>
												<div class="category-item" id="DIV_156">
													<div class="category-name" id="DIV_157">
														SSD
													</div>
													<div class="category-user" id="DIV_158">
														Crucial MX300
													</div>
												</div>
												<div class="category-item" id="DIV_159">
													<div class="category-name" id="DIV_160">
														HDD
													</div>
													<div class="category-user" id="DIV_161">
														Toshiba MD04ACA400
													</div>
												</div>
												<div class="category-item" id="DIV_162">
													<div class="category-name" id="DIV_163">
														PSU
													</div>
													<div class="category-user" id="DIV_164">
														LEPA MaxBron Series B800-MB
													</div>
												</div>
												<div class="category-item" id="DIV_165">
													<div class="category-name" id="DIV_166">
														Cooler
													</div>
													<div class="category-user" id="DIV_167">
														Corsair Hydro Series H90
													</div>
												</div>
												<div class="category-item" id="DIV_168">
													<div class="category-name" id="DIV_169">
														RAM
													</div>
													<div class="category-user" id="DIV_170">
														Kingston HyperX FURY (2x 16GB)
													</div>
												</div>
												<div class="category-item" id="DIV_171">
													<div class="category-name" id="DIV_172">
														OS
													</div>
													<div class="category-user" id="DIV_173">
														Windows 10
													</div>
												</div>
											</div>
											<div class="category" id="DIV_174">
												<div class="category-title" id="DIV_175">
													Peripherals
												</div>
												<div class="category-item" id="DIV_176">
													<div class="category-name" id="DIV_177">
														Mouse
													</div>
													<div class="category-user" id="DIV_178">
														Logitech G Pro Wireless
													</div>
												</div>
												<div class="category-item" id="DIV_179">
													<div class="category-name" id="DIV_180">
														KB
													</div>
													<div class="category-user" id="DIV_181">
														Fnatic Strafe
													</div>
												</div>
												<div class="category-item" id="DIV_182">
													<div class="category-name" id="DIV_183">
														MPAD
													</div>
													<div class="category-user" id="DIV_184">
														Nadeking Mousepad
													</div>
												</div>
												<div class="category-item" id="DIV_185">
													<div class="category-name" id="DIV_186">
														Mic
													</div>
													<div class="category-user" id="DIV_187">
														Shure SM7B Microphone + Cloudlifter + Scarlett Focusrite 2i2
													</div>
												</div>
												<div class="category-item" id="DIV_188">
													<div class="category-name" id="DIV_189">
														Mic arm
													</div>
													<div class="category-user" id="DIV_190">
														Rode PSA1
													</div>
												</div>
											</div>
											<div class="category" id="DIV_191">
												<div class="category-title" id="DIV_192">
													Monitors
												</div>
												<div class="category-item" id="DIV_193">
													<div class="category-name" id="DIV_194">
														Main
													</div>
													<div class="category-user" id="DIV_195">
														MSI Oculux NXG251R
													</div>
												</div>
												<div class="category-item" id="DIV_196">
													<div class="category-name" id="DIV_197">
														Left
													</div>
													<div class="category-user" id="DIV_198">
														Medion 24"
													</div>
												</div>
												<div class="category-item" id="DIV_199">
													<div class="category-name" id="DIV_200">
														Right
													</div>
													<div class="category-user" id="DIV_201">
														iiyama 24"
													</div>
												</div>
											</div>
										</div>
									</div>
								</article>
							</div>
						</div>
					</div><a href="https://www.betrefs.com" class="column banner-holder" id="A_202"></a>
					<div class="banner" id="DIV_203">
					</div>
				</div>
			</div>
		</div>
	</section>
</div>